@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.Cart-section {
    position: relative;
    top: 60px;
    width: 100%;
    background: #fff;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'roboto', sans-serif;
    z-index: -1;
}

.Cart-section.with-sidebar {
    width: 55%; /* or use margin-left: 15% if Sidebar is absolutely positioned */
    margin-left: 550px;
}