.dr-container {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 80%;
    margin: 20px -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.dr-title {
    transform: translate(0, -100px);
    display: flex;
}

.dr-background {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transform: translate(-180px, 0);
    padding: 3px;
}

.dr-background img {
    width: 40px;
}

.dr-background:hover {
    background-color: rgb(222, 223, 224);
    cursor: pointer;
}

.dr-title h1 {
    color: #666;
    transform: translate(-20px, 0px);
}

.dr-body img {
    width: 250px;
    border: 2px solid green;
    border-radius: 10px;
}

.dr-body {
    display: flex;
    justify-content: center;
    gap: 80px;
    transform: translate(-10px, -65px);
}

.dr-details {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 35px;    
}

.dr-btn button {
    background-color: green;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transform: translate(0, -15px);
    cursor: pointer;
}

.dr-btn button:hover {
    background-color: rgb(16, 148, 16);
}

.progress-container {
  position: relative;
  width: 96px;
  height: 96px;
  margin-top: 30px;
}

.progress-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.progress-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem; 
  font-weight: 600;    
  color: #1F2937;     
}

.accuracy {
    margin-top: 120px;
    margin-left: 15px;
}